*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('images/background.jpg');
    width: 100%;
    height: 95vh;
    margin: auto;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-;
    padding: 2px;
}
.logo {
    margin: 0 auto;
    padding: 0 auto;
    width: 160px;
    cursor: pointer;
    margin-left: 148px;
    margin-right: 625px;
}
nav button {
    border: none;
    outline: none;
    background-color: #db0001;
    color: #fff;
    padding: 5px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 12px;
    cursor: pointer;
}
.lang-btn {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: inline-flex;
    border-radius: 4px;
    border-style: groove;
    align-items: center;
    background: transparent;
    margin-right: 6px;
    margin-top: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 12px;
    padding-bottom: 4px;
}
.main-content{
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title-container{
    color: white;
    text-align: center;
}
.main-title{
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.email-signup {
    background: transparent;
    border-radius: 4px;
    display:flex;
    align-items: center;
    margin-top: 22px;
    overflow: hidden;
    margin-bottom: 80px;
}
.email-signup input {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 4px;
    padding: 16px;
    flex: 1;
    border-style: groove;
    color: white;
    font-size: 16px;
    margin-left: 260px;
}
.email-signup button {
    background-color: #db0001;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    padding: 14px 30px;
    margin-right: 240px;
    margin-left: 12px;
}
.main-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.line{
    background-image: radial-gradient(rgba(0,0.5,0,0.8),rgba(0,0,0,0.6));
    opacity:100%;
    color: black;
    height: 7px;
}
/*second*/
.main-2{
    padding: 80px 12%;
    font-size: 22px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.row{ 
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.left-cont{
    flex-basis: 100%;
    margin-bottom: 20px;
}
.right-cont{
    flex-basis: 100%;
    margin-bottom: 100px;
    display: flex;
}
.right-cont img{
    display: flex;
    width: 90%;
    margin: auto;
}
.FAQ-heading{
    background-color: black;
    color: white;
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    padding-top: 60px;
}
.FAQ-heading h1{
    font-weight: bold;
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;
}
.FAQ-heading .email-signup input{
    border-color: #3DED97;
    background-color: rgba(8,25,43,0.75);
}
.accordian{
    margin: 60px auto;
    width: 100%;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}
.accordian li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordian li label{
    display: flex;
    background: #303030;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
.accordian li label:hover{
    background-color: rgb(101, 98, 98);
}
label::after{
    content: '+';
    position: absolute;
    font-size: 40px;
    right: 35px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordian .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.accordian input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordian input[type="radio"]:checked + label::after{

    transform: rotate(135deg);
}
/*Footer*/
.footer{
    padding: 50px 12% 10px;
    background-color: black;
    color: white;
    padding-top: 70px;
}
.footer h2{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;   
}
.footer .col a{
    display:flex;
    color: #a8a0a0;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer .row{
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    padding-bottom: 20px;
}
@media screen and (max-width: 720px) {
    .left, .main, .right {
      width: 20%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }